﻿@model IEnumerable<ShopLinhKien.Models.Mproduct>
@foreach (var item in Model)
{
    int sale = (int)item.pricesale;
    float price = (int)item.price - (int)item.price / 100 * (int)sale;
    if (sale > 0)
    {
        <div class="col-md-3 py-2 ">
            <div class="card">
                <div class="card-body">
                    <div class="position-relative">
                        <div class="arrow-up">
                            <span class=" text-white pl-3">-@sale%</span>
                        </div>
                        <a href="~/@item.slug"><img class="card-img-top" src="~/public/images/@item.img" alt="Card image"></a>
                    </div>
                    <div class="card-title text-dark pt-1"><h6><a href="~/@item.slug" class="text-danger">@item.name</a></h6></div>
                    <div class="card-title text-dark">
                        <h6 class="font-weight-bold"><strike> @item.price.ToString("N0") VND </strike></h6>
                        <h6 class="font-weight-bold text-danger"> @price.ToString("N0") VND</h6>
                        <a href="@item.slug" class="btn btn-sm text-white btn-warning"><i class="fas fa-eye"></i>Chi tiết</a>
                        <button id="addcartH" onclick="addcart(@item.ID)" class="btn btn-sm text-white   btn-dodam"><i class="fas fa-cart-plus"></i> Thêm GH</button>
                        <input type="hidden" value="1" id="sel1" />
                    </div>
                </div>
            </div>
        </div>
    }
}