﻿@model List<ShopLinhKien.Models.Cart_item>
@{
    ViewBag.Title = "thanhtoan";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@Html.Action("Mainmenu", "module")
<section>
    <form action="" name="form_lh" method="post">

        <div class="container-fluid pt-5">

            <div class="container">

                <span class="text-danger"> @ViewBag.error</span>
                <span class="text-danger">@ViewBag.errorPaymentOnline</span>
                <div class="row">


                    <div class="col-md-8">
                        <div class="card ">

                            <h6 class="bg-success font-weight-bold text-center border-bottom py-2 text-white">Hình thức thanh toán</h6>
                            <div class="pl-2  pb-2">


                                <ul class="list-unstyled">
                                    <li>
                                        <input type="radio" id="1" name="option_payment" value="COD" checked>
                                        <label for="1" class="text-success"><img class="w-25 pl-2 " src="public/images/cod.png" alt="Alternate Text" /><span class="pl-2 text-secondary" style="font-size:15px;">Ship COD</span></label>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class=" pt-2">
                            <div class="card ">

                                <h6 class="bg-success font-weight-bold text-center border-bottom py-2 text-white">Địa chỉ nhận hàng</h6>
                                <div class="pl-5 py-3">
                                    <div class="pl-3 pr-5">


                                        <label for="psw"><b class="text-secondary">Tên Bạn</b></label>
                                        <input type="text" name="deliveryname" required>

                                        <label for="psw"><b class="text-secondary">SĐT</b></label>
                                        <input type="tel" name="deliveryphone" required>

                                        <label for="psw"><b class="text-secondary">Email</b></label>
                                        <input type="email" name="deliveryemail" required>

                                        <label for="psw"><b class="text-secondary">Địa chỉ nhận hàng</b></label>
                                        <input type="text" name="deliveryaddress" required>


                                    </div>

                                </div>

                            </div>
                            <button type="submit" class="btn-button float-right w-25 bg-success ">  Hoàn tất</button>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="card ">

                            <h6 class="bg-success font-weight-bold text-center border-bottom py-2 text-white">Sản phẩm</h6>
                            @{ float sum = 0;


                            }
                            @foreach (var iten in Model)
                            {
                                int sale = (int)iten.product.pricesale;
                                float price = (int)iten.product.price - (int)iten.product.price / 100 * (int)sale;
                                float price1 = ((int)iten.product.price - (int)iten.product.price / 100 * (int)sale) * (iten.quantity);
                                if (sale > 0)
                                {
                                    sum += ((int)iten.product.price - (int)iten.product.price / 100 * (int)sale) * ((int)iten.quantity);
                                }
                                else
                                {
                                    sum += (int)iten.product.price * (int)iten.quantity;
                                }
                                <div class="pl-2  pb-2">
                                    <ul class="pagination border-bottom pb-2">
                                        @if (sale > 0)
                                        {
                                            <li class="position-relative">
                                                <div class="arrow-up">
                                                    <span class=" text-white pl-3">-@sale%</span>
                                                </div><img class="img-thumbnail" width="125px;" src="~/public/images/@iten.product.img" alt="">
                                            </li>
                                        }
                                        else
                                        {
                                            <li><img class="img-thumbnail" width="125px;" src="~/public/images/@iten.product.img" alt=""></li>
                                        }
                                        <ul class="list-unstyled">
                                            <li class="pl-2"><p class="font-weight-bold ">@iten.product.name</p></li>
                                            @if (sale > 0)
                                            {
                                                <li class="pl-2"><p class="font-weight-bold font-12 "><span class="text-danger"><strike> @iten.product.price.ToString("N0") VND</strike>  </span> <br /><span> @iten.product.price VND</span> x @iten.quantity = <span>@price1.ToString("N0") VND</span> </p></li>
                                            }
                                            else
                                            {
                                                float sum1 = (int)iten.product.price * iten.quantity;
                                                <li class="pl-2"><p class="font-weight-bold font-12 "><span>@iten.product.price.ToString("N0") VND</span> x = @sum1.ToString("N0") VND  <span></span> </p></li>
                                            }


                                        </ul>

                                    </ul>

                                </div>
                            }
                            <input type="hidden" value="@sum" name="sumOrder" />
                            <h5 class="pl-2"> Tổng thanh toán: <span class="text-cam">@sum.ToString("N0") VND</span> </h5>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="pt-4 pl-3 pb-1">
                                        <a href="~/gio-hang" class="card-link text-body1 text-cam"><i class="fas fa-caret-left"></i>  Thay đổi giỏ hàng</a>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script>
    $('input[name="option_payment"]').off('click').on('click', function (e) {
        if ($(this).val() == 'NL') {
            $('#nganluongContent').show();
            $('#nganhangcontent').hide();
        }
        else if ($(this).val() == 'ATM_ONLINE') {
            $('#nganluongContent').hide();
            $('#nganhangcontent').show();
        }
        else {
            $('#nganluongContent').hide();
            $('#nganhangcontent').hide();
        }



    });
</script>
<style type="text/css">
    li {
        list-style: none;
    }

    h4 {
        font-size: 1.1em;
    }

    h5, h6 {
        font-size: 1em;
    }

    /* this rule styles <h1> and <h2> tags that are the
    first child of the left and right table columns */
    .rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
        margin-top: 0px;
    }



    ul.bankList {
        clear: both;
        height: 202px;
        width: 636px;
    }

        ul.bankList li {
            list-style-position: outside;
            list-style-type: none;
            cursor: pointer;
            float: left;
            margin-right: 0;
            padding: 5px 2px;
            text-align: center;
            width: 90px;
        }



    .list-content li .boxContent {
        display: none;
        width: 636px;
        border: 1px solid #cccccc;
        padding: 10px;
    }

    .list-content li.active .boxContent {
        display: block;
    }

    .list-content li .boxContent ul {
        height: 280px;
    }

    i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB, i.NAB, i.BAB {
        width: 80px;
        height: 30px;
        display: block;
        background: url(https://www.nganluong.vn/webskins/skins/nganluong/checkout/version3/images/bank_logo.png) no-repeat;
    }

    i.MASTE {
        background-position: 0px -31px
    }

    i.AMREX {
        background-position: 0px -62px
    }

    i.JCB {
        background-position: 0px -93px;
    }

    i.VCB {
        background-position: 0px -124px;
    }

    i.TCB {
        background-position: 0px -155px;
    }

    i.MB {
        background-position: 0px -186px;
    }

    i.VIB {
        background-position: 0px -217px;
    }

    i.ICB {
        background-position: 0px -248px;
    }

    i.EXB {
        background-position: 0px -279px;
    }

    i.ACB {
        background-position: 0px -310px;
    }

    i.HDB {
        background-position: 0px -341px;
    }

    i.MSB {
        background-position: 0px -372px;
    }

    i.NVB {
        background-position: 0px -403px;
    }

    i.DAB {
        background-position: 0px -434px;
    }

    i.SHB {
        background-position: 0px -465px;
    }

    i.OJB {
        background-position: 0px -496px;
    }

    i.SEA {
        background-position: 0px -527px;
    }

    i.TPB {
        background-position: 0px -558px;
    }

    i.PGB {
        background-position: 0px -589px;
    }

    i.BIDV {
        background-position: 0px -620px;
    }

    i.AGB {
        background-position: 0px -651px;
    }

    i.SCB {
        background-position: 0px -682px;
    }

    i.VPB {
        background-position: 0px -713px;
    }

    i.VAB {
        background-position: 0px -744px;
    }

    i.GPB {
        background-position: 0px -775px;
    }

    i.SGB {
        background-position: 0px -806px;
    }

    i.NAB {
        background-position: 0px -837px;
    }

    i.BAB {
        background-position: 0px -868px;
    }

    ul.cardList li {
        cursor: pointer;
        float: left;
        margin-right: 0;
        padding: 5px 4px;
        text-align: center;
        width: 90px;
    }
</style>
